# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist our source files and folders
!/internal/
!/pkg
!/src

# Whitelist project files
!/.config
!/.eslintrc
!/.gitignore
!/.prettierrc.js
!/CHANGELOG.md
!/LICENSE
!/Magefile.go
!/README.md
!/go.mod
!/go.sum
!/jest.config.js
!/jest-setup.js
!/package-lock.json
!/package.json
!/tsconfig.json
!/yarn.lock
!/sage
!/ci
!/install

!/docker
/docker/dev/data/
/docker/test/data/
!/docker/test/data/grafana-oss/plugins/*
!/docker/test/data/grafana-oss/public/*

!/.vscode
/.vscode/*
!/.vscode/launch.json
