name: Build

on:
  push:
    branches: [ "main", "build-test" ]
  workflow_dispatch:
    inputs:
      release:
        description: 'Skip pre release build'
        required: false
        type: boolean

jobs:
 
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Set up yarn
      uses: DerYeger/yarn-setup-action@master
    
    - name: Clean pre releases
      uses: dev-drprasad/delete-older-releases@v0.3.2
      if: ${{ !inputs.release }}
      with:
        keep_latest: 0
        delete_tags: true
        delete_prerelease_only: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}   
    
    - name: Get current version
      id: current_version
      uses: mathieudutour/github-tag-action@v6.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        custom_release_rules: feat:patch,bump:minor
        dry_run: true
    
    - name: Build yarn
      run: |
        yarn version --new-version ${{ steps.current_version.outputs.new_version }} --no-git-tag-version
        yarn build
        yarn lint
        yarn test:ci

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'

    - name: Build go
      run: |
        go run mage.go
        
    - name: Zip artifacts
      run: |
        yarn zip
    
    - name: Attatch artifacts to job
      uses: actions/upload-artifact@v3
      with:
        name: sasesp-plugin-zip-files
        path: ./sasesp-plugin*.zip
        retention-days: 14
    
    - name: Bump version and push tag
      if: ${{ !inputs.release }}
      id: release_version
      uses: mathieudutour/github-tag-action@v6.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        custom_release_rules: feat:patch,bump:minor
    
    - name: Create a GitHub release
      if: ${{ !inputs.release }}
      uses: ncipollo/release-action@v1
      with:
        tag: ${{ steps.release_version.outputs.new_tag }}
        name: Release ${{ steps.release_version.outputs.new_tag }}
        body: ${{ steps.release_version.outputs.changelog }}
        artifacts: "./sasesp-plugin*.zip"
        preRelease: true
