name: Build

on:
  push:
    branches: [ "main", "build-test" ]
  workflow_dispatch:
    inputs:
      release:
        description: 'Make a release build'
        required: false
        type: boolean

jobs:
 
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Set up yarn
      uses: DerYeger/yarn-setup-action@master
      with:
        node-version: 16.14.0
    
    - name: Build yarn
      run: |
        yarn build
        pwd
        ls -la ./dist

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - name: Build go
      run: |
        go run mage.go
        ls -la ./dist
        
    - name: Zip artifacts
      run: |
        yarn zip
        ls -la
    
    - uses: actions/upload-artifact@v3
      name: Attatch artifacts to job
      with:
        name: sasesp-plugin-zip-files
        path: ./sasesp-plugin*.zip
    
    - name: Bump version and push tag
      if: startsWith(github.event.head_commit.message, 'Release:')
      id: tag_version
      uses: mathieudutour/github-tag-action@v6.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Create a GitHub release
      if: startsWith(github.event.head_commit.message, 'Release:')
      uses: ncipollo/release-action@v1
      with:
        tag: ${{ steps.tag_version.outputs.new_tag }}
        name: Release ${{ steps.tag_version.outputs.new_tag }}
        body: ${{ steps.tag_version.outputs.changelog }}